* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(131, 10, 10);
    --green: green;
    --black: black;
    --white: white;
    --grey: grey;
    --shadow: #2A3132;
    --signupColor: green;
    --signupColorDim: rgb(19, 51, 19, .5)
}

html {
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: max-content;
    background-image: url(./image/pexels.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

span {
    color: var(--red);
    margin-left: .2rem;
}


.page-name {
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--signupColor);
    font-size: 3rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .3rem var(--black);
}

.page-name::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: .15rem;
    background-color: var(--red);
    bottom: -1.1rem;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite
}

@keyframes animate {
    0% {
        width: 9rem;
    }

    50% {
        width: 19rem;
    }

    100% {
        width: 9rem;
    }
}

input::placeholder,
textarea::placeholder {
    color: var(--signupColorDim);
}


.button-container {
    display: flex;
    gap: 2rem;
}

button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--signupColor);
    padding: .8rem 1.5rem;
    margin-top: 2rem;
    border-radius: 40px;
    background-color: white;
    transition: all .2s ease;
    border: 1.5px solid var(--shadow);
    box-shadow: .1rem 0rem .4rem var(--black);
}

button:hover {
    background-color: transparent;
    cursor: pointer;
}

.reset {
    color: var(--red);
}

.login,
a {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-container {
    width: 90vw;
    margin: 10vh 0 5vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
    border-radius: .8rem;
    background-color: rgba(255, 255, 255, .6);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.form-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.left-form,
.right-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 2rem;
}

.left-form>div,
.right-form>div {
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: var(--shadow) .5px solid;
    box-shadow: .01rem .01rem .5rem var(--black);

}

label {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0rem;
} 

#resume,
#color {
    border: none;
}

input {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: solid var(--shadow) 3px;
    background-color: transparent;
    outline: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

/* Radio styling */
.left-form>.radio-group,
.right-form>.radio-group,
.check-group {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.left-form>.radio-group p,
.right-form>.radio-group p,
.check-group p {
    margin: .5rem 0rem 1.5rem 0rem;
    color: rgb(7, 7, 67);
}

.radio-item,
.check-item {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.5 rem;
    border: .1rem solid transparent;
    transition: border .2s ease-in;
}

.radio-item:hover,
.check-item:hover {
    border-color: var(--shadow);
}

.radio,
.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: .1rem solid var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}


.radio:focus {
    outline: .05rem solid var(--shadow);
    outline-offset: .1rem;
}

.country>select {
    background-color: transparent;
    height: 2.5rem;
    font-size: 1.2rem;
}

.country>select:hover {
    background-color: rgba(255, 255, 255, .5);
    outline: none;
}

.bio>textarea {
    height: 10rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    line-height: 1.6;

}

.bio>textarea:focus {
    outline: none;
    background-color: rgb(210, 208, 208);
}

.color>input {
    height: 3.5rem;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease;
}

.color>input:hover {
    background-color: rgba(38, 35, 35, 0.5);
}


/* javascipt styling */

#error-message {
    font-size: 1.3rem;
    color: var(--red);
    position: sticky;
    top: 0;
    transition: all .2s ease;
    line-height: 1.6;
}

#file-error {
    color: var(--red);
    display: none;
    font-size: 1.2rem;
}

.form-wrapper div.incorrect label {
    color: var(--red);
}

.form-wrapper div.incorrect input{
    border: 2px solid var(--red);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}


/* email animation effect */
.email-group {
    position: relative;
}

#email {
    position: relative;
    z-index: 10;
}

#email-label {
    transition: bottom ease-out .3s;
}

#email-error {
    /* position: absolute; */
    top: 100%;
    left: 1.2rem;
    font-size: 1.3rem;
    color: var(--red);
    transition: top ease-in-out .5s;
}

.hide_terms-error{
    display: none;
}

.terms-label {
    color:  rgb(7, 7, 67);
}

#terms-Checkbox {
    margin-bottom: 1rem;
    width: 2rem;
    height: 3rem;
}

.copyright {
    padding: 1rem;
    text-align: center;
    color: var(--grey);
}






/* Large desktops and wide screens */
@media (min-width: 1201px) {}

/* Desktops and laptops */
@media (max-width: 1200px) {
    .form-wrapper {
        width: 80%;
    }

    .radio-item {
        width: 70%;
    }
}

/* Tablets (landscape) or smaller laptops */
@media (max-width: 1024px) {
    .form-container {
        margin: 5vh 0 5vh 0;
    }

    .form-wrapper {
        width: 90%;
    }
}

/* Tablets (portrait) */
@media (max-width: 768px) {

    html {
        font-size: 90%;
    }

    .form-container {
        margin: 2vh 0 5vh 0;
    }

    .form-wrapper {
        width: 60vw;
        flex-direction: column;
    }

    .left-form,
    .right-form {
        width: 100%;
    }

    .radio-item {
        width: 75%;
    }
}

/* Mobile devices (larger phones) */
@media (max-width: 480px) {


    .form-wrapper {
        width: 70vw;
    }

    .radio-item {
        width: 100%;
    }

    #email-error {
        font-size: 1rem;
    }
}


/* Styles for the smallest phones */
@media (max-width: 320px) {
    html {
        font-size: 85%;
    }

    .form-wrapper {
        width: 85%;
    }

    .radio-item {
        width: 100%;
    }

    .login,
    a {
        font-size: 1.2rem;
    }

    #email-error {
        left: .2rem;
        font-size: 1.2rem;
    }
}